<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ForkNGo - Restaurant</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/cart-styles.css" />
    <link rel="stylesheet" href="/styles/orders_admin.css" />
    <link rel="stylesheet" href="/styles/food_item.css" />
    <!-- Scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/admin-app.js"></script>
  </head>

  <body>
    <header>
      <nav class="main-nav">
        <div class="nav-container">
            <div class="header-content">
              <h1>Welcome to ForkNGo </h1>
            </div>
            <div class="user-actions">
                <% if (user) { %>
                  <span class="user-name">Hi, <%= user.name %></span>
                    <a href="/logout" class="nav-button">Logout</a>
                <% } else { %>
                    <a href="/login" class="nav-button">Login</a>
                <% } %>
            </div>
        </div>
      </nav>
        <div class="order-title">
          <h2>Orders</h2>
        </div>

          <div class="order-container">
            <% ordersAdmin.forEach(order => { %>
              <div class="order">
                <div class="order-header" data-food-id="<%= order.id %>">

                  <p>Order ID: <%= order.id %></p><hr>
                  <p>Name: <%= order.name %></p><hr>
                  <p>Phone: #<%= order.phone %></p>
                </div>

                <div class="order"><% order.items.forEach(items => { %>
                  <div class="item">
                    <p><%= items.food_name %></p>
                    <p>Quantity: <%= items.qty %></p>

                  </div>
                  <% }) %>
                </div>
                <button
                  class="button btn-update-status"
                  data-order-id="<%= order.id %>"
                  data-order-status="<%= order.order_status %>"
                  <% if (order.order_status == 'picked up') { %>
                    disabled
                  <% } %>
                >
                  <%= statusText[order.order_status] || "Unknown" %>
                </button>
              </div>
            <% }) %>
          </div>
    </header>

    <footer>
      <p>ForkNGo © 2025</p>
    </footer>
  </body>
</html>
